<template>
  <detail-item :type="$t('group_credits.title_detail')"></detail-item>
</template>

<script>
import DetailItem from '../../components/DetailItem.vue'
export default {
  components: { DetailItem },

}
</script>

<style>

</style>