<template>
  <div>
    <v-row aling="center">
      <v-col>
        <h1 class="white--text">{{ $t('group_credits.title') }}</h1>
      </v-col>
      <v-col class="d-flex align-center justify-end">
        <v-btn @click="toInspect()" color="secondary" class="whitre--text" outlined>
          <v-icon>mdi-magnify</v-icon>
          {{ $t(`group_credits.inspect`) }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <header-list :headers="headers"></header-list>
    </v-row>
    <v-row v-for="(credit, i) in credits" :key="i">
        <credit-item :credit="credit"></credit-item>
    </v-row>
  </div>
</template>

<script>
import CreditItem from "../../components/CreditItem.vue"
import HeaderList from '../../components/HeaderList.vue'

export default {
  name: 'GroupCreditsList',
  components: { CreditItem, HeaderList },
  data: (vm) => ({
    headers: [ 
      { name: vm.$t('group_credits.headers.file'), cols: 2 },
      { name: vm.$t('group_credits.headers.expeditionDate'), cols: 1 },
      { name: vm.$t('group_credits.headers.informationQuality'), cols: 2, aling: 'center' },
      { name: vm.$t('group_credits.headers.status'), cols: 2 },
      { name: vm.$t('group_credits.headers.endDate'), cols: 2 },
      { name: vm.$t('group_credits.headers.user'), cols: 1 },
      { name: vm.$t('group_credits.headers.actions'), cols: 1, aling: 'center' },
      { name: '', cols: 1 , aling: 'center' },
    ],
    credits : [ 
      {
        file: 'clients_credito.xml',
        expeditionDate: '02/08/20',
        informationQuality: '90%',
        status: { id: 1, name: 'Finalizado' },
        endDate: '02/08/21',
        user: 'goytia',
        aditionalInfo: 'Hola, esta es información adicional del crédito.'
      },
      {
        file: 'clients_credito.xml',
        expeditionDate: '02/08/20',
        informationQuality: '90%',
        status: { id: 1, name: 'Finalizado' },
        endDate: '02/08/21',
        user: 'goytia',
        aditionalInfo: 'Hola, esta es información adicional del crédito.'
      },
      {
        file: 'clients_credito.xml',
        expeditionDate: '02/08/20',
        informationQuality: '90%',
        status: { id: 2, name: 'En proceso' },
        endDate: '02/08/21',
        user: 'goytia',
        aditionalInfo: 'Hola, esta es información adicional del crédito.'
      },
      {
        file: 'clients_credito.xml',
        expeditionDate: '02/08/20',
        informationQuality: '90%',
        status: { id: 3, name: 'Rechazado' },
        endDate: '02/08/21',
        user: 'goytia',
        aditionalInfo: 'Hola, esta es información adicional del crédito.'
      },
    ]
  }),
  mounted() {

  },
  methods: {
    toInspect(){
      this.$router.push('/group-credits/inspect')
    }
  }
}
</script>

<style>

</style>