<template>
  <v-container>
    <v-row>
      <v-btn
        class="mx-2"
        fab
        dark
        small
        to="/group-credits"
        color="white"
      >
        <v-icon color="secondary">
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <v-icon class="ml-4" color="secondary" large>mdi-magnify</v-icon>
      <h1 class="ml-2 white--text">{{ $t('inspect.title') }}</h1>
    </v-row>
    <v-row class="mt-10">
      <v-text-field
        outlined
        dark
        :label="$t('inspect.search_text')"
        prepend-inner-icon="mdi-magnify"
        @input="search"
        color="gray darken-1"
      ></v-text-field>
      <v-layout row wrap v-if="searchWord" class="white--text ml-4 mr-4 mb-4">
        {{ $t('inspect.search_result', { search :  searchWord ,results : clients.length }) }}
      </v-layout>
    </v-row>
    <v-row>
      <header-list :headers="headers"></header-list>
    </v-row>
    <template v-if="clients">
      <v-row v-for="(client, i) in clients" :key="i">
        <client-item :client="client"></client-item>
      </v-row>
    </template>
    <template v-else>
      <v-layout flex align-center justify-center>
        <v-progress-circular indeterminate :size="100" :width="10" color="primary" />
      </v-layout>
    </template>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import ClientItem from '../../components/ClientItem.vue'
import HeaderList from '../../components/HeaderList.vue'
export default {
  components: { HeaderList, ClientItem },
  data: (vm) => ({
    headers: [ 
      { name: vm.$t('inspect.headers.client'), cols: 4 },
      { name: vm.$t('inspect.headers.email'), cols: 8 },
    ],
    clients: null,
    clientsResponse: null,
    searchWord: ''
  }),
  methods: {
    ...mapActions({ getClients : 'clients/getClients'}),
    search(searchWord){
      this.searchWord = searchWord.length > 12 ? `${searchWord.substring(0,12)}...`: searchWord;
      searchWord = searchWord.toLowerCase();
      if(searchWord && searchWord.length>0){
        this.clients = this.clientsResponse.filter( client => {
          return (client.first_name.toLowerCase().includes(searchWord) 
            || client.last_name.toLowerCase().includes(searchWord)
            || client.email.toLowerCase().includes(searchWord)) || 
            (this.concatName(client.first_name, client.last_name).toLowerCase().includes(searchWord))
        })
      }else{
        this.clients = this.clientsResponse
      }
    },
    concatName(firstName, lastName){
      return `${firstName} ${lastName}`
    }
  },
  mounted(){
    this.getClients()
      .then(response => {
        this.clients = response;
        this.clientsResponse = response
      })
      .catch(error=>{

      })
      .finally(()=>{
      });
  }
}
</script>

<style>

</style>