<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-icon class="ml-4" color="secondary" large>mdi-view-list-outline</v-icon>
      <h1 class="ml-2 white--text">{{ $t('software_list.title') }}</h1>
      <v-col class="d-flex align-center justify-end">
        <v-btn @click="openDialog = true" color="secondary" class="whitre--text" outlined>
          <v-icon>mdi-plus</v-icon>
          {{ $t(`software_list.buttons.add`) }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="mt-10" v-if="softwareList">
        <software-item v-for="(software,i) in softwareList" :key="i" :software="software"></software-item>
    </v-row>
    <new-software-dialog :openDialog="openDialog" @add-software="addSoftware($event)" @close-dialog="closeDialog($event)"></new-software-dialog>
  </v-container>
</template>

<script>
import NewSoftwareDialog from '../../components/NewSoftwareDialog.vue'
import SoftwareItem from '../../components/SoftwareItem.vue'

export default {
  components: { SoftwareItem, NewSoftwareDialog},
  data: () => ({
      openDialog: false,
      softwareList: [
          {
            id: '01',
            name: 'Siebel',
            type: 'Crédito Grupal' 
          },
          {
            id: '02',
            name: 'Bantotal',
            type: 'Crédito Grupal' 
          },
          {
            id: '03',
            name: 'Mobilender',
            type: 'Crédito Grupal' 
          },
          {
            id: '04',
            name: 'Alivio',
            type: 'Crédito Grupal' 
          },
          {
            id: '05',
            name: 'Ítaca Capital',
            type: 'Crédito Grupal' 
          },
      ]
  }),
  methods:{
      addSoftware(software) {
        software.id = `0${this.softwareList.length+1}`
        this.softwareList.push(software)
        this.openDialog = false;
      },
      closeDialog() {
        this.openDialog = false;
      }
  }
}
</script>

<style>

</style>