<template>
  <v-container grid-list-xs>
    <v-card
      class="mx-auto primary pa-5 mt-10 text-center"
      width="100%"
      outlined
    >
      <h1 class="white--text" v-if="user">{{ $t(`welcome_message`, {name: user.first_name }) }}</h1>
    </v-card>
  </v-container>
</template>

<script>

  import {mapGetters} from 'vuex';

  export default {
    name: 'Home',
    components: {
    },
    computed: {
      ...mapGetters({ user: 'auth/userLogged' })
    }
  }
</script>
