<template>
  <v-container v-if="!isLogged">
    <v-row class="mb-6" justify="center" no-gutters>
      <v-col cols="6">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <h1 class="white--text">
                {{ $t(`login.title`) }}
              </h1>
            </v-flex>
          </v-layout>
        </v-container>
      </v-col>
    </v-row>
    <v-row class="mb-6" justify="center" no-gutters>
      <v-col cols="6">
        <v-form id="nativeForm" v-model="valid" v-on:submit.prevent>
          <v-text-field
            dark
            autocomplete="off"
            :label="$t('auth.email')"
            v-model="email"
            :rules="emailRules"
            name="email"
          />
          <v-text-field
            dark
            :label="$t('auth.password')"
            v-model="password"
            :rules="passwordRules"
            name="password"
            type="password"
          />
          <v-btn @click="submit" color="secondary" outlined :disabled="!valid" :loading="loading">
            {{ $t(`login.access`) }}
          </v-btn>
        </v-form>
      </v-col>
      <app-snack-bar
        :snackBar="snackBar"
        :text="message"
        :timeout="timeout"
        :color="color"
      />
    </v-row>
  </v-container>
</template>

<script>
  import AppSnackBar from '@/components/utils/SnackBar';
  import { mapGetters,  mapActions} from 'vuex'
  
	export default {
		name: "login",
    components: {
      AppSnackBar,
    },
    data () {
      return {
        color: 'error',
        snackBar: false,
        message: '',
        timeout: 5000,
        valid: false,
        email: '',
        emailRules: [
          (v) => !!v || this.$t('validations.required', {field: 'E-mail'}),
          (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t('validations.email', {field: 'E-mail'})
        ],
        password: '',
        passwordRules: [
          (v) => !!v || this.$t('validations.required', {field: 'Password'}),
          (v) => v.length >= 6 || this.$t('validations.minLength', {field: 'Password', length: 6})
        ]
      }
    },
    methods: {
      ...mapActions( { login: 'auth/login' }),
      submit (e) {
        e.preventDefault();
        this.snackBar = false;
        this.$store.commit('setLoading', true);
        let user = { email: this.email , password: this.password }
          this.login(user)
          .then( (response) => {
            if(response && response.error) {
              this.message = response.error;
              this.snackBar = true;
            }
            else{
              setTimeout(() => {
                this.$router.push({name: 'Home'})
              }, 500);
            }
          }).catch((error)=>{
            this.message = error.error ? error.error : this.$t('messages.error_ocurred');
            this.snackBar = true;
          }).finally(()=>{
            setTimeout(() => {
              this.snackBar = false;
            }, this.timeout);
            this.$store.commit('setLoading', false);
          })
      }
    },
    computed: {
      ...mapGetters({ loading: 'isLoading' , isLogged: 'auth/isLogged'})
    }
	}
</script>