<template>
  <v-container grid-list-xs>
    <v-main class="text-center">
      <h1 class="white--text">{{ $t(`page_not_found`) }}</h1>
      <v-icon
          large
          color="red darken-2"
        >
          mdi-cancel
      </v-icon>
      <v-col>
      <v-btn
        class="ma-1"
        color="grey"
        plain
        to="/"
      >
        {{ $t(`to_home`) }}
      </v-btn>
      </v-col>
    </v-main>
  </v-container>
</template>

<script>
export default {
 name: 'page-not-found',
}
</script>

<style>

</style>