<template>
<v-card
  v-if="client"
  elevation="2"
  width="100%"
  class="mb-4 primary"
>
  <v-row
      align="center"
      class="pl-2 pr-2 blue-grey--text text--lighten-2"
      cols="12"
    >
      <v-col>
        <v-list-item class="grow">
            <v-list-item-avatar color="blue-grey lighten-3">
              <v-img
                class="elevation-6"
                alt=""
                :src="client.avatar"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title class="blue-grey--text text--lighten-2">{{ client.first_name }} {{ client.last_name }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
      </v-col>
      <v-col>
        <v-list-item-title class="blue-grey--text text--lighten-2">{{ client.email }}</v-list-item-title>
      </v-col>
      <v-col
        align="center"
        class="b"
      >
        <v-flex  class="d-flex justify-end">
          <v-btn
            icon
            class="blue-grey--text text--lighten-2"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-flex>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
    props: ['client'],
    methods: {
    }
}
</script>

<style>

</style>