<template>
<v-card
  v-if="credit"
  elevation="2"
  width="100%"
  class="mb-4 pa-2 primary"
>
  <v-row
      align="center"
      class="spacer pl-2 pr-2 blue-grey--text text--lighten-2"
      cols="12"
    >
      <v-col cols="2">
        <strong>{{ credit.file }}</strong>
      </v-col>

      <v-col cols="1">
        <label class="subtitle-1">{{ credit.expeditionDate }}</label>
      </v-col>

      <v-col
        cols="2"
        justify="center"
        align="center"
        class="subtitle-1"
      >
        {{ credit.informationQuality }}
      </v-col>

      <v-col
        cols="2"
        :class="credit.status.id == '1' ? 'success--text' : credit.status.id == 2 ? 'warning--text' : credit.status.id == 3 ? 'error--text':''"
      >
        {{ credit.status.name }}
      </v-col>
              
      <v-col
        cols="2"
      >
        {{ credit.endDate }}
      </v-col>

      <v-col
        cols="1"
      >
        {{ credit.user }}
      </v-col>

      <v-col
        justify="end"
        align="center"
        cols="1"
      >
        <v-btn
          icon
          class="blue-grey--text text--lighten-2 mr-3"
        >
          <v-icon>mdi-file-download</v-icon>
        </v-btn>
      </v-col>
      <v-col>
        <v-flex  class="d-flex justify-end">
          <v-btn
            icon
            class="blue-grey--text text--lighten-2"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-flex>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
    props: ['credit'],
    methods: {
    }
}
</script>

<style>

</style>