<template>
  <v-container>
    <h1 class="white--text">{{ $t('detail_title', { type })}}</h1>
    <h4 class="white--text">{{ $t('building_section')}}</h4>
  </v-container>
</template>

<script>
export default {
    props: ['type']
}
</script>

<style>

</style>