<template>
  <v-card
    v-if="headers"
    elevation="2"
    width="100%"
    class="pa-3 background"
  >
    <v-row 
      align="center"
      class="spacer blue-grey--text text--lighten-2"
      no-gutters
    >
      <v-col class="pr-2" v-for="(head,i) in headers" :key="i" :cols="head.cols" justify="center" :align="`${head.aling?head.aling:'start'}`">
        <p class="caption blue-grey--text text--lighten-2">{{ head.name }}</p>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
    props: ['headers']
}
</script>

<style>

</style>