<template>
  <v-app-bar
      app
      color="primary"
    >
      <div class="d-flex align-center ml-12 logo" @click="toHome()">
        <v-toolbar-title class="white--text">Integra</v-toolbar-title>
        <v-toolbar-title class="green--text text--accent-3">Software</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <div class="mr-12"  v-if="!isLogged">
          <v-btn
            href="login"
            text
          >
            <span class="mr-2 white--text">{{ $t(`login.access`) }}</span>
          </v-btn>
      </div>
      <div class="mr-12"  v-else>
          <v-row
              align="center"
              class="spacer"
              no-gutters
              v-if="user"
            >
              <v-col>
                <v-list-item-title class="white--text">{{ user.first_name }} {{ user.last_name }}</v-list-item-title>
              </v-col>
              <v-col class="ml-4">
                <v-list-item-avatar color="grey darken-3">
                  <v-img
                    class="elevation-6"
                    alt=""
                    :src="user.avatar"
                  ></v-img>
                </v-list-item-avatar>
              </v-col>
              <v-col>
                <v-menu
                  bottom
                  left
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      dark
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon>mdi-chevron-down</v-icon>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item
                      v-for="(item, i) in menuItems"
                      :key="i"
                      @click="onClickMenu(item)"
                    >
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
              <v-col>
                 <v-btn
                    text
                    @click="onClickLogout()"
                    class="mr-2"
                    color="secondary"
                  >
                    <v-icon>mdi-location-exit</v-icon>
                  </v-btn>
              </v-col>
          </v-row>
      </div>
    </v-app-bar>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: 'NavBar',
    data: () => ({
      menuItems : [
        { title: 'Créditos grupales' , route: '/group-credits'},
        { title: 'Software' , route: '/software-list' },
      ]
    }),
    methods:{
      ...mapActions({ logout: 'auth/logout'}),
      onClickMenu (option) {
        this.$router.push(option.route)
      },
      onClickLogout(){
        this.logout();
        this.$router.push({name: 'Login'})
      },
      toHome(){
        this.$router.push({name: 'Home'})
      }
    },
    computed: {
      ...mapGetters({ isLogged: 'auth/isLogged' , user: 'auth/userLogged' })
    }
  }
</script>

<style>
  .logo{
    cursor: pointer;
  }
</style>