<template>
   <v-dialog
      v-model="openDialog"
      persistent
      max-width="600px"
      dark
      transition="dialog-top-transition"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ $t('software_list.modal_form.title') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="validSoftware" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="newSoftware.name"
                    :rules="[v => !!v || $t('rules.required')]"
                    :label="$t('software_list.modal_form.name_input')"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="newSoftware.type"
                    :rules="[v => !!v || $t('rules.required')]"
                    :label="$t('software_list.modal_form.type_input')"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            text
            @click="closeModal"
          >
            {{ $t('software_list.modal_form.btn_cancel') }}
          </v-btn>
          <v-btn
            color="secondary"
            outlined
            text
            @click="addSoftware"
            :disabled="!validSoftware"
          >
            {{ $t('software_list.modal_form.btn_add') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
  props: ['openDialog'],
  data() {
    return {
      validSoftware: false,
      newSoftware: {
        name : '',
        type: ''
      }
    }
  },
  methods: {
      closeModal(){
        this.$emit('close-dialog', false)
      },
      addSoftware(){
        this.$refs.form.validate()
        if(this.validSoftware && this.newSoftware.name && this.newSoftware.type){
          this.$emit('add-software', this.newSoftware)
          this.reset()
        }
      },
      reset(){
        this.newSoftware = {
          name : '',
          type: ''
        }
        this.$refs.form.reset() 
      }
  },
}
</script>

<style>

</style>