<template>
<v-card
  v-if="software"
  elevation="2"
  width="100%"
  class="mb-4 pa-2 primary"
>
  <v-row
      align="center"
      class="pl-2 pr-2 blue-grey--text text--lighten-2"
      cols="12"
    >
      <v-col cols="1">
        <div class="container-id white--text">
          <strong>{{ software.id }}</strong>
        </div>
      </v-col>
      <v-col>
        <strong class="white--text h3">{{ software.name }}</strong>
      </v-col>
      <v-col>
        <div class="blue-grey--text text--lighten-2 caption">{{ software.type }}</div>
      </v-col>
      <v-col>
        <v-flex  class="d-flex justify-end">
          <v-btn
            icon
            class="blue-grey--text text--lighten-2"
            @click="toDetail"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-flex>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
    props: ['software'],
    methods: {
      toDetail(){
        this.$store.commit('software/setSoftwareDetail', this.software)
        this.$router.push('/group-credits/detail')
      }
    }
}
</script>

<style scoped>
    .container-id{
      border: 1px solid var(--v-secondary-base);
      border-radius: 3px;
      width: 40px;
      height: 40px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center
    }
</style>