<template>
  <v-app>
    <nav-bar v-if="!$store.state.loading" />
    <v-main v-if="!$store.state.loading" class="background" fill-height>
      <v-container>
        <bread-crumbs/>
        <router-view/>
      </v-container>
    </v-main>

    <v-container v-else fill-height fluid class="background">
      <v-layout flex align-center justify-center>
        <v-progress-circular indeterminate :size="100" :width="10" color="primary" />
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import BreadCrumbs from '@/components/utils/BreadCrumbs.vue';
import { mapActions } from 'vuex';

export default {
  name: 'App',
  components: {
    NavBar,
    BreadCrumbs,
  },
  data: () => ({
    //
  }),
  mounted() {
    let user = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')) : null;
    let auth = localStorage.getItem('auth') ? JSON.parse(localStorage.getItem('auth')) : null;

    if(auth && user){
      this.getUser(user.id);
    }
    setTimeout(() => {
      this.$store.commit('setLoading', false)
    }, 500);
  },
  methods: {
    ...mapActions({ getUser : 'auth/getUser' })
  }
};
</script>
