<template>
    <v-breadcrumbs dark :items="breadcrumbs">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item
          :href="item.href"
          :disabled="item.disabled"
        >
          {{ item.text }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
</template>

<script>
  export default {
    name: "bread-crumbs",
    data: () => ({
      show: false
    }),
    computed:{
      breadcrumbs(){
          let pathArray = this.$route.path.split('/')
          pathArray.shift()
          const breadCrumbs = []
          // needed to handle the intermediary entries for nested vue routes
          let breadcrumb = ''
          let lastIndexFound = 0
          pathArray.map((path,i) => {
            breadcrumb = `${breadcrumb}${'/'}${path}`
            if (this.$route.matched[i] &&
              Object.hasOwnProperty.call(this.$route.matched[i], 'meta') &&
              Object.hasOwnProperty.call(this.$route.matched[i].meta, 'breadcrumb')) {
              this.show = this.$route.matched[i].meta.showBreadcrumbs
              if(this.show){
                breadCrumbs.push({
                  href: i !== 0 && pathArray[i - (i - lastIndexFound)]
                    ? '/' + pathArray[i - (i - lastIndexFound)] + breadcrumb
                    : breadcrumb,
                  disabled: i + 1 === pathArray.length,
                  text: this.$route.matched[i].meta.breadcrumb || pathArray[i]
                })
                lastIndexFound = i
                breadcrumb = ''
              }
            }
          })
          return breadCrumbs
        }
    }
  }

</script>

<style>
.v-breadcrumbs li a {
  color: #ffffff;
}
</style>