<template>
  <v-snackbar
    :timeout="timeout"
    :color="color"
    v-model="showSnack"
  >
    {{ text }}
    <v-btn dark text @click="showSnack = false">
      {{ $t('messages.close') }}
    </v-btn>
  </v-snackbar>
</template>

<script>
	export default {
		name: "app-snack-bar",
    props: { snackBar: Boolean, timeout: Number, text: String, color: { type: String, default: 'primary'}},
    data () {
		  return {
        mode: 'horizontal',
        showSnack: this.snackBar
      }
    }
	}
</script>
